In [87]:
import os
import pandas as pd
import geopandas
import fiona
import numpy as np
import os
import csv

In [88]:
beer_data = pd.read_excel("open-beer-database.xlsx")

In [89]:
beer_data.head()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Celis Raspberry,4813,853,5,72,3.9,0,0,0,NaN,...,2010-07-22T16:00:00-04:00,Other Belgian-Style Ales,Belgian and French Ale,Michigan Brewing,1093 Highview Drive,Webberville,Michigan,United States,"42.6616,-84.1946",http://www.michiganbrewing.com/
1,Buck Naked,4864,114,8,96,3.2,0,0,0,NaN,...,2010-07-22T16:00:00-04:00,American-Style Light Lager,North American Lager,Big Buck Brewery,550 South Wisconsin Avenue,Gaylord,Michigan,United States,"45.0223,-84.6826",http://www.bigbuck.com/gaylord.html
2,Fat Belly Amber,93,879,3,33,0,0,0,0,NaN,...,2010-07-22T16:00:00-04:00,American-Style Amber/Red Ale,North American Ale,Montana Brewing,113 North Broadway,Billings,Montana,United States,"45.7822,-108.506",NaN
3,Belgian Wit,98,901,-1,-1,0,0,0,0,NaN,...,2010-07-22T16:00:00-04:00,NaN,NaN,Nebraska Brewing Company,7474 Towne Center Parkway #101,Papillion,Nebraska,United States,"41.1339,-96.0307",NaN
4,Crystal Ale,172,122,-1,-1,0,0,0,0,NaN,...,2010-07-22T16:00:00-04:00,NaN,NaN,Big Sky Brewing,5417 Trumpeter Way,Missoula,Montana,United States,"46.9223,-114.073",NaN

In [90]:
beer_data_new = beer_data[["State", "City", "Brewer", "Name", "Style", "Category", "Coordinates"]]
beer_data_new.head()

,State,City,Brewer,Name,Style,Category,Coordinates
0,Michigan,Webberville,Michigan Brewing,Celis Raspberry,Other Belgian-Style Ales,Belgian and French Ale,"42.6616,-84.1946"
1,Michigan,Gaylord,Big Buck Brewery,Buck Naked,American-Style Light Lager,North American Lager,"45.0223,-84.6826"
2,Montana,Billings,Montana Brewing,Fat Belly Amber,American-Style Amber/Red Ale,North American Ale,"45.7822,-108.506"
3,Nebraska,Papillion,Nebraska Brewing Company,Belgian Wit,NaN,NaN,"41.1339,-96.0307"
4,Montana,Missoula,Big Sky Brewing,Crystal Ale,NaN,NaN,"46.9223,-114.073"

In [91]:
nc_beer_df = beer_data_new.loc[beer_data_new["State"] == "North Carolina", :]
nc_beer_df.head(10)

,State,City,Brewer,Name,Style,Category,Coordinates
101,North Carolina,Asheville,Asheville Pizza and Brewing Co.,Shiva IPA,American-Style India Pale Ale,North American Ale,"35.6221,-82.5536"
329,North Carolina,Chapel Hill,Carolina Brewery,IPA,American-Style India Pale Ale,North American Ale,"35.9103,-79.0632"
377,North Carolina,Farmville,Duck-Rabbit Craft Brewery,Duck-Rabbit Brown Ale,American-Style Brown Ale,North American Ale,"35.6003,-77.5971"
558,North Carolina,Raleigh,Big Boss Brewing Company,Angry Angel,NaN,NaN,"35.8104,-78.6179"
1037,North Carolina,Raleigh,Greenshields Brewery and Pub,Amber,American-Style Amber/Red Ale,North American Ale,"35.7721,-78.6386"
1478,North Carolina,Raleigh,Big Boss Brewing Company,Bad Penny,American-Style Brown Ale,North American Ale,"35.8104,-78.6179"
1504,North Carolina,Chapel Hill,Top of the Hill Restaurant and Brewery,Big Bertha Brown,American-Style Brown Ale,North American Ale,"35.9132,-79.0558"
1576,North Carolina,Asheville,Highland Brewing Company,Cold Mountain Winter Ale,Winter Warmer,Other Style,"35.5716,-82.4991"
1854,North Carolina,Asheville,Asheville Pizza and Brewing Co.,Roland's ESB,Extra Special Bitter,British Ale,"35.6221,-82.5536"
1908,North Carolina,Raleigh,Greenshields Brewery and Pub,Stout,American-Style Stout,North American Ale,"35.7721,-78.6386"

In [92]:
nc_beer_df.shape()

TypeError: 'tuple' object is not callable